<li style="font-size:120%;">
  <a class="no-deco" href="<%= itemlink %>">
    <%= itemname %> <button style="position:absolute;right:7em;" class="btn btn-primary">Go to <%=itemtype%></button>
  </a>
</li>
<br>
