<% if(locals.user) { %>
  <p><%= user.username %> :-)</p>
  <img src="https://instagram.fscl8-1.fna.fbcdn.net/vp/73402a487d93ab12c960556ace1f5d08/5B14426C/t51.2885-15/sh0.08/e35/p640x640/25011215_1978915185719040_164951676451553280_n.jpg" alt="don't call me nice">
  <% } else { %>
  <p>
    Not available
  </p>
<% } %>
