#course-title{
  font-size: larger;
  margin: 0;
}

#course-description{
  color: gray;
}

#course-name{
  font-weight: 600;
}

#course-info{
  margin-top: 20px;
}

.content-title{
  margin-bottom: 2px;
  font-weight: 600;
}

.card-subcontent{
  font-weight: unset;
  margin-bottom: 14px;
}
