<%- include('../partials/navbar') %>

<div class="flex-grid-fourths">
  <div class="col"></div>
    <div class="col2">
    <% if (user) { %>
      <h1>Create new post</h1>
      <div id="post-react-app" data-user-id=<%- JSON.stringify(user.id)%>></div>
    <% } else { %>
      <h2>You need to sign-in</h2>
      <br>
      <a href="/signin" class="btn btn-primary"><button class="btn btn-primary">Sign In</button></a>
    <% } %>
  </div>
  <div class="col"></div>
</div>
